body{

    margin: 0;
    padding: 0;
}

.menu{

    height: 100px;
    width: 100%;
    background-color: darksalmon;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    position: fixed;

}

a{
    color: white;
    margin: auto;
    text-decoration: none;
}

.produtos{
    height: 80vh;
    width: 100vw;
    background-color: lavenderblush;
    border-bottom:dotted 5px crimson;
    padding-top: 100px;
    display: flex; 
    justify-content: space-between;
    font-size: 20px;


    }

        
.produtos1{background-color: white;
    height:60vh ;
    width: 20vw;
    margin:auto ;
    text-align-last: center;


}
.produtos2{background-color:white;
    height:60vh ;
    width: 20vw;
    margin:auto ;
    text-align-last: center;
}
.produtos3{background-color: white;
    height:60vh ;
    width: 20vw;
    margin:auto ;
    text-align-last: center;
    
}
.produtos4{background-color: white;
    height:60vh ;
    width: 20vw;
     margin:auto ;
     text-align-last: center;
}